<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Show TrekSites</h1>
    <a href="/treksites/new">New Trek</a>
    <ul>
        <% for(let treksite of alltreks) {%>
            <li><a href="/treksites/<%=treksite._id%>"><%= treksite.title%></a></li>
        <%}%>
    </ul> 
    </body>
</html>