<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Show Trek Site</h1>
    <h3><%=treksite.title%></h3>
    <p><%=treksite.location%></p>
    <p><%=treksite.price%></p>
    <a href="/treksites">Back</a>
</body>
</html>